<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <title>Registration</title>
</head>

<body style=background-color:rgb(13,17,23);>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1>Registration</h1>
                <form action="user/register" method="POST">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    {% if 'first_name' in message.tags %}
                    <p style=color:red;>{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="first_name">First Name:</label>
                        <input type="text" name="first_name" id="first_name" class="form-control">
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    {% if 'last_name' in message.tags %}
                    <p style=color:red;>{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="last_name">Last Name:</label>
                        <input type="text" name="last_name" id="last_name" class="form-control">
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    {% if 'register_email' in message.tags %}
                    <p style=color:red;>{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" class="form-control">
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    {% if 'register_password' in message.tags %}
                    <p style=color:red;>{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" name="password" id="password" class="form-control">
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    {% if 'register_password' in message.tags %}
                    <p style=color:red;>{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="confirm_password">Confirm Password:</label>
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control">
                    </div>
                    <button style=margin-top:15px; class="btn btn-secondary">Register</button>
                </form>
            </div>
            <div class="col-md-6">
                <h1>Login</h1>
                <form action="user/login" method="POST">
                    {% csrf_token %}
                    {% if messages %}
                    {% for message in messages %}
                    {% if 'login_email' in message.tags %}
                    <p style=color:red;>{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" name="email">
                    </div>
                    {% if messages %}
                    {% for message in messages %}
                    {% if 'login_password' in message.tags %}
                    <p style=color:red;>{{ message }}</p>
                    {% endif %}
                    {% endfor %}
                    {% endif %}
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <button style=margin-top:15px; class="btn btn-secondary">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>